<div *ngIf="language === 'hu'">
  <p>
    Szokai-Máthé Imola<br />
    +36 30 444 8338 <br />
    imola@cosmosandcolours.com
  </p>
  <p>
    imola@cosmosandcolours.com<br />
    www.cosmosandcolours.com
  </p>
</div>
<div *ngIf="language === 'en'">
  <p>
    Imola Szokai-Máthé <br />
    +36 30 444 8338 <br />
    imola@cosmosandcolours.com
  </p>
  <p>
    imola@cosmosandcolours.com<br />
    www.cosmosandcolours.com
  </p>
</div>
<div *ngIf="language === 'de'">
  <p>
    Imola Szokai-Máthé <br />
    +36 30 444 8338 <br />
    imola@cosmosandcolours.com
  </p>
  <p>
    imola@cosmosandcolours.com<br />
    www.cosmosandcolours.com
  </p>
</div>
