<div *ngIf="language === 'hu'">
  <p>
  Szeretet – bátorság - önazonosság - A felhők felett mindig süt a nap!
  </p>
  <p>
    Azért születtünk e Földre, hogy tapasztalásainkon keresztül fejlődjünk és felsőbb küldetésünk teljesítése által jobbá tegyük azt. 
  </p>
  <p>
    Utunk egy életen át tartó tanulás, lelkek kísérnek minket és mi is lelkeket kísérünk és rájövünk arra, hogy a vágyott boldogság az út maga. Hisz önmagunk boldogságának valódi forrásai mi vagyunk az itt és mostban. Így válunk szeretetet adó emberré és ekkor tudunk csak igazán szeretetet befogadni.
  </p>
  <p>
    Ezen a hosszú úton indultam el én is, a természet szeretete tett tájépítész-művésszé, hisz onnan jöttünk és oda is tartunk bizonyos kvalitásban. Természetes élettereket terveztem és festettem, miközben egyre inkább közelebb kerültem az ember és a természet egységének spirituális-energetikai alapjaihoz a geomantia, a feng shui, a tértisztítás, az energianövények világa és a spirituális választerápia módszere által.
  </p>
  <p>
    Ekkor találtam rá Liane Collot d’Herbois angol festőművésznő és festésterapeuta egyedi festészeti technikájára, melynek nemcsak esztétikai, hanem lélekfejlődést-öngyógyítást stimuláló hatása is van: a test, a lélek és a szellem harmonizálását segíti elő.
  </p>
  <p>
    Kedves tanáraim, barátaim és klienseim ösztönzésére a külső tájak építészetéről folyamatosan áthelyeztem a hangsúlyt a belső tájak, a lélektájak művészi megjelenítésére.
  </p>
  <p>
    Hisz mikrokozmoszunk nem más, mint a makrokozmosz maga.
  </p>
  <p>
    Minden egy - Minden energia - A színek is - Cosmos and Colours.
  </p>
  <p>
    Példaképeim és mestereim: <br />
    Johann Wolfgang von Goethe és Rudolf Steiner;<br />
    Liane Collot d’Herbois, Ernst Fuchs, Kazimiro di Ronay, Roland Tiller és Reingard Kopsa festőművészek, valamint
    Ujváry Éva festésterapeuta.
  </p>
  <p>
    Hálás köszönet.
  </p>
<div *ngIf="language === 'en'">
  <p>
    LOVE - COURAGE - AUTHENTICITY - Above the clouds the sun always shines.
  </p>

  <p>
    We are born into this Earth to develop through our experiences, and by fulfilling our higher missions to make it better. .
  </p>
  <p>

  Our journey is lifelong learning. Souls escort us and we escort others, realising that the happiness we wish for is the journey itself, for we are the real source of our happiness here and now. In this way we become people capable of giving love, and this is when we can truly accept love.
  </p>
  <p>
  I embarked on this long journey, and the love of nature made me become a landscape architect/artist for we come from nature which, to some extent is our destination. I designed natural living areas and painted, and I was getting closer and closer to the spiritual and energetic basis of the unity of man and nature, through the methods of feng shui, space clearing and the world of energy plants and spiritual response therapy.
  </p>
  <p>
  This is when I came across the unique painting technique of English painter and painting therapist Liane Collot d’Herbois, whose technique not only has an aesthetic effect, but also a stimulating one on spiritual development and self-healing: it helps harmonize the body, soul and spirit.
  </p>
  <p>
  With the encouragement of my dear teachers, friends and clients, I have gradually moved away from landscape design and focused more on the artistic portrayal of inner landscapes, the landscapes of the souls.
  </p>
  <p>
  For our micro-cosmos is nothing else but the macro-cosmos itself.
  </p>
  <p>
  Everything is one – Everything is energy - As are colours – Cosmos and Colours.
  </p>
  <p>
  With much gratitude to my role models and teachers:
  </p>
  <p>
  Johann Wolfgang von Goethe and Rudolf Steiner; <br />
  Liane Collot d’Herbois, Ernst Fuchs, Kazimiro di Rónay, Roland Tiller, Reingard Kopsa and Éva Ujváry.
  </p>
</div>


<div *ngIf="language === 'de'">

  <p>
    Liebe – Mut –  Authentizität:  Über den Wolken scheint immer die Sonne.
  </p>
  <p>
    Wir sind auf die Erde gekommen, um uns durch unsere Erfahrungen zu entfalten und um die Welt durch unsere höhere Bestimmung zu einem besseren Ort zu machen.
  </p>
  <p>
    Unser Weg ist ein lebenslanges Lernen. Seelen begleiten uns und wir dürfen auch Seelen begleiten. Dann kommen wir darauf, daß das ersehnte Glück der Weg selbst ist. Denn wir sind die tatsächliche Quelle unseres Glücks im Hier und Jetzt. So werden wir zu den Menschen, die Liebe geben und auch empfangen können.
  </p>
  <p>
    So beschritt ich meinen Weg. Die Kraft der Natur machte mich zur Landschaftsplanerin und Künstlerin. Denn wir kamen aus der Natur und wir werden in bestimmter Qualität irgendwann  auch zurückkehren.
  </p>
  <p>
    Ich plante und malte natürliche Lebensräume, während ich mich immer mehr zu den spirituellen-energetischen Grundlagen der Einheit des Menschen und der Natur annäherte; ich lernte die Wissenschaften der Geomantie, Feng shui, Energiepflanzen sowie die Spirituelle Antworttherapie kennen.
  </p>
  <p>
    Dann habe ich den Schatz, die einzigartige Maltechnik der englischen Malerin, Lehrerin und Maltherapeutin, Liane Collot d‘Herbois gefunden. Diese spezielle Technik hat nicht nur ästhetische, sondern auch Seelenentfaltung und Selbstheilung stimulierende Wirkung: Die hilft dem Menschen bei der Harmonisierung des Körpers, Geistes und der Seele.
  </p>
  <p>
    Durch die Ermutigung meiner lieben Lehrer, Freunde und Klienten habe ich meinen Fokus von der Gestaltung von äusseren Landschaften auf die künstlerische Darstellung von inneren Landschaften, die sog. „Seelenlandschaften“ gesetzt.
  </p>
  <p>
    Denn unser Mikrokosmos ist nichts Anderes, als der Makrokosmos selbst.
  </p>
  <p>
    Alles ist Eins - Alles ist Energie - die Farben auch. Cosmos and Colours
  </p>
  <p>
    Meine Vorbilder und Lehrer:
  </p>
  <p>
    Johann Wolfgang von Goethe und Rudolf Steiner; <br />
    Liane Collot d’Herbois, Ernst Fuchs, Kazimiro di Rónay, Roland Tiller, Reingard Kopsa sowie
    Éva Ujváry.
  </p>
  <p>
    Vielen Dank.
  </p>
</div>
