<div [ngClass]="{'visible': visible}" >
  <ul>
    <li>
      <a routerLink="/">
        <app-translate key="menu.home"></app-translate>
      </a>
    </li>
    <li>
      <a routerLink="/the-painting-process">
        <app-translate key="menu.thePaintingProcess"></app-translate>
      </a>
    </li>
    <li>
      <a routerLink="/gallery">
        <app-translate key="menu.gallery"></app-translate>
      </a>
    </li>
    <li>
      <a routerLink="/services">
        <app-translate key="menu.services"></app-translate>
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <app-translate key="menu.about"></app-translate>
      </a>
    </li>
    <li>
      <a routerLink="/contact">
        <app-translate key="menu.contact"></app-translate>
      </a>
    </li>
  </ul>
</div>
