<div *ngIf="language === 'hu'">
  <p>
    Tevékenységem során egy közös művészeti és energetikai alkotói tér alakul ki a kliensemmel a magasabb életminőség elérése érdekében.
  </p>
  <p>
    Munkámmal egy olyan természetes élettér kialakításához szeretnék globálisan hozzájárulni, ahol jól érezzük magukat az itt és mostban.
  </p>
  <p>
    A klienseim életútját egy darabon kísérve abban segédkezem, hogy az öngyógyítói szándék kibontakozzon és az ezáltal stimulált lélekfejlődés hosszú távon fenntartható fejlődés maradjon.
  </p>
  <p>
    A mindenkori legfelsőbb cél a test, a lélek és a szellem harmonikus egységének megteremtése.
  </p>
  <ul>
    <li>
      Egyedi akvarellek és szénmunkák készítése
      <ul>
        <li>
          egyéni megrendelőknek, akik otthonukba egy  önmaguk illetve szeretteik energetikai harmonizálását elősegítő képet szeretnének, valamint
        </li>
        <li>
          cégeknek, akik logójukat, a cég küldetését, stb.  spirituális-művészi megjelenítésben is látni szeretnék.
        </li>
      </ul>
    </li>
    <li>
      Digitális grafikai design: ebben a szellemben illusztrációk készítését, illusztratív logók és honlapok grafikai hátterének tervezését is örömmel vállalom.
    </li>
  </ul>
</div>

<div *ngIf="language === 'en'">
  <p>
    During my work a common artistic and energetic creative space is formed with my client in the interest of reaching a higher quality of life.
  </p>
  <p>
    Through my work, I would like to contribute to the creation of such a natural living space where we feel good in the here and now.
  </p>
  <p>
    Following the life of my clients for a while, I try to help the desire of self-healing unfold, and stimulated in this way, the development of the soul could become a sustainable in the long run.
  </p>
  <p>
    The final aim at all times is the creation of the harmonious unity of body, soul and spirit.
  </p>
  <ul>
    <li>
      Unique aquarelles and charcoal drawings
      <ul>
        <li>
          for clients who would like a picture for their home that would help the energetic harmonization of themselves or their loved ones
        </li>
        <li>
          companies interested in seeing their logo or their mission in a spiritual-artistic representation
        </li>
      </ul>
    </li>
    <li>
    Digital art and graphic design: preparation of illustrations, illustrative logos and screendesign in spiritual style.
    </li>
  </ul>
</div>


<div *ngIf="language === 'de'">

  <p>
    Während meiner Maltätigkeit entfaltet sich ein gemeinsamer künstlerischer-energetischer Schöpfungsraum.
  </p>
  <p>
    Durch meine Arbeit möchte ich global, beim Erschaffen eines natürlichen Lebensraums mithelfen, wo man im Hier und Jetzt sich wohlfühlt.
  </p>
  <p>
    Durch das Begleiten meiner Klienten möchte ich in der Entfaltung ihrer Selbstheilungsabsicht behilflich sein, um die durch das Gemälde stimulierte Seelenentfaltung nachhaltig Aufrecht zu erhalten.
  </p>
  <p>
    Mein höchstes Ziel ist die harmonische Einheit von Körper, Geist und Seele für mehr Bewusstsein in meinen Arbeiten zu erreichen.
  </p>
  <p>
    Das biete ich an:
  </p>
  <ul>
    <li>
      Individuelle Aquarelle und Holzkohlearbeiten

      <ul>
        <li>
          für Private, die ein energetisch abgestimmtes und wohltuendes Bild haben möchten
        </li>
        <li>
          für Unternehmen, die ihr Logo und/oder ihre Botschaft original im spirituellen Stil malen lassen möchten
        </li>
      </ul>

    </li>
    <li>
      Digitalgrafik und Grafikdesign
    </li>
  </ul>

  <p>
    Ich nehme gerne Anfragen für digitale Illustrationen, illustrative Logos und Screendesign an.
  </p>

</div>
