<div *ngIf="language === 'hu'">
  <p>
    „Tapasztalatból tudjuk, hogy minden szín egyedi hangulatot áraszt”
  </p>
  <p>
    J. W. Goethe <br />
    Természettudományos írások, 1784-1810.<br />
    /Színtan 6. szakasz: A szín érzéki-erkölcsi hatása/
  </p>
  <p>
    A színek körülvesznek minket. Velük élünk, velük változunk, a tavasz beköszöntével a virágokkal együtt mi is kinyílunk, színesebbé válik a világ és mi is színesebbnek érezzük magunkat. A természet frissessége, a pirosak melege, a sárgák derűje, a zöldek nyugalma, stb. mind érzelmekké válnak bennünk; a színek hangulatot teremtenek. 
  </p>
  <p>
    A számunkra kedves árnyalatok ellazítanak és feltöltenek, energiájukkal beragyogják a tér egészét, ahol jó lenni, mert otthon érezzük magunkat és természetes nyugalomban tud fejlődni testünk, lelkünk és szellemünk.
  </p>
  <p>
    Liane Collot d’Herbois angol festőművésznő, aki ezt a különleges akvarell technikát Johann Wolfgang von Goethe és Rudolf Steiner színtana alapján kifejlesztette, nemcsak esztétikai festő volt, hanem festésterapeuta is: Dr. Ita Wegman német orvosnővel együtt kidolgozott egy ehhez a festéstechnikához kapcsolódó, az egész világon elismert és a mai napig sikeresen alkalmazott festésterápiai módszert.
  </p>
  <p>
    Képeim a festésterápia alkotói szempontjainak figyelembevételével készülnek a megrendelővel való közös intenzív energetikai és művészi munka során, hogy egy a mindennapokban is lélekemelő kép szülessen és mindenkit megörvendeztessen, aki csak ránéz. Így önszántából fejlődik a lélek, tágul a szellem és  gyógyul a test.
  </p>
  <p>
    Itt a kozmosz színpalettáján lélektájak születnek, amire ha bátran ránézünk, visszatérünk szeretetben önmagunkhoz, a forráshoz és utána így, önmagunk egységéből tekinthetünk ki a mindenségbe.
  </p>
  <p>
    A szinte finoman kilélegző képet eredményező festészeti módszer a természet és az atmoszféra színvilágát tükrözi és a színeket önmaguk valójában, de mégis egymás társaságában tündökölni látjuk:
  </p>
  <p>
    Az érkező fény átszűrődik az átlátszó lazúrrétegeken és visszatükröződve felcsillantja a színeket a fehér papíron. Így az akvarell kép levegős és finom ragyogású lesz. 
  </p>
  <p>
    ...Hiszen semmi másból nem áll, csak az alkotói energia által összeszőtt papír, pigment és víz hármasából...
  </p>
  <p>
    Testünk legnagyobb hányada is víz, így kapcsol össze egy magasabb szinten a minket körülvevő világgal, a természettel és az atmoszférával. Ezért töltődünk és lazulunk, ezért jó e képek közelében lenni, ezért jó rájuk nézni. Érdemes is újra és újra elmerülni a világukban, mert e képek színhatása a Nap napszakos és évszakos járásával, azaz a változó fényviszonyokkal együtt változik:
  </p>
  <p>
    Lelkünket mindig újabb és újabb felfedezendő csodával örvendezteti meg. 
  </p>
  <p>
    Képeim természetes fénynél, hőhatás nélküli, 100% hidegen préselt pamut papíron, lágy vízzel, a legnemesebb művészi festékekkel, nyugodt természeti környezetben készülnek.
  </p>
</div>

<div *ngIf="language === 'en'">
  <p>
    “We know from experience that every colour radiates a unique mood”
  </p>
  <p>
    Johann Wolfgang von Goethe <br />
    Writings on natural philosophy, 1784-1810. <br />
    Theory of colours. Didactic part 6.: The sensual-moral effect of colours
  </p>
  <p>
    Colours surround us. We live with them, we change with them. When spring arrives we bloom together with the flowers, the world becomes more colourful and we also feel more colourful. The freshness of nature, the warmth of red, the cheerfulness of yellow, the calmness of green etc. all become feelings in us, the colours create mood.
  </p><p>
    The shades of colours we hold dear relax and recharge us.  With their energy they light up the entire space, where it is pleasant to be because we feel at home, and our body, soul and spirit are able to develop in natural calmness.
  </p><p>
    Liane Collot d’Herbois, an English painter, who developed this special aquarelle technique on the basis of the colour theory of Johann Wolfgang von Goethe and Rudolf Steiner, was not only an aesthetic painter but also a painting therapist: together with physician Ita Wegman, she developed a painting therapy method recognized all over the world and successfully applied even today.
  </p><p>
    My pictures are prepared with regard to the creating principles of this painting therapy, through an intensive energetic and artistic work with the client in order to produce a picture which, even in everyday life, is uplifting, and makes its viewers happy. This way the soul develops, the intellect widens and the body heals of their own accord.
  </p><p>
    Here on the colour palette of the cosmos, soul landscapes are born which if examined boldly, we return lovingly to ourselves, the source, and then at one with ourselves, we can look into the universe.
  </p><p>
    The method which results in a lightly exhaling painting reflects the colour palette of nature and the atmosphere, and we can see the colours as they really are, and at the same time glowing in the presence of one another:
  </p><p>
    The approaching light passes through the transparent glazes, and as it is reflected, it glints the colours on the white paper. This way the aquarelle becomes airy and softly glowing.
  </p><p>
    …For it consists from nothing more than the trinity of paper woven by creative energy, pigment and water…
  </p><p>
    Most of our body is water as well, so this is how it connects us to the world, nature and atmosphere surrounding us. This is why we recharge and relax, why we feel good around these pictures, this is why we enjoy looking at them. It is worthwhile to be submerged in the world of these pictures again and again, as the colour effects of the painting change with the daily and seasonal changes of the Sun’s path, it changes with the changes of the quality of light. It delights our soul with miracle to be discovered every day.
  </p><p>
    My paintings are prepared at natural light, without heat treatment, on 100% cold-pressed cotton paper, with soft water and high quality paint, in a calm natural environment.
  </p>

</div>

<div *ngIf="language === 'de'">

  <p>
    „Die Erfahrung lehrt uns, daß die einzelnen Farben besondere Gemütsstimmungen geben”
  </p>
  <p>
    Johann Wolfgang von Goethe <br />
    Naturwissenschaftliche Schriften, 1784-1810. <br />
    Zur Farbenlehre. Didaktischer Teil 6.: Sinnlich-sittliche Wirkung der Farbe
  </p>

  <p>
    Die Farben umarmen uns. Wir leben mit ihnen, wir verändern uns gleichzeitig mit ihnen, wir blühen in dem kommenden Frühling mit ihnen auf, die Welt wird farbig und wir fühlen uns auch farbiger. Die Frische der Natur, die Wärme des roten Sonnenuntergangs, die Heiterkeit der gelben Blumen, die Ruhe der grünen Wiesen, usw. wandeln sich zu Gefühlen in uns; die Farben schaffen Stimmung.
  </p><p>
    Die für uns angenehme Farbnuancen entspannen uns und laden uns auf, sie bestrahlen den ganzen Raum, wo man sich wohlfühlt, und der Körper, der Geist und die Seele können sich in natürlicher Ruhe entfalten.
  </p><p>
    Liane Collot d’Herbois, die diese besondere Aquarelltechnik im Sinne der Farblehre von Johann Wolfgang von Goethe und Rudolf Steiner entwickelt hat, war nicht nur eine Künstlerin, sondern auch eine Maltherapeutin: Sie hat gemeinsam mit Dr. Ita Wegman, der deutschen Ärztin, eine maltherapeutische Methode aufgrund dieser Maltechnik ausgearbeitet und gelehrt. Heute ist diese Maltherapie auf der ganzen Welt anerkannt und sie wird auch erfolgreich angewandt. 
  </p><p>
    Meine Bilder werden mit Hinsicht auf die schöpferischen Aspekte der Maltherapie während einer intensiven energetischen und künstlerischen Arbeit geschaffen. Um im Endeffekt so ein Gemälde zu haben, das die Seele im Alltag erhebt und jeder, der das erblickt, sich freuen kann. So entfaltet sich die Seele, weitet sich der Geist aus und der Körper heilt sich von selbst.
  </p><p>
    Hier auf der Farbpalette des Kosmos werden Seelenlandschaften geboren. Wenn wir darauf schauen, kehren wir zur Quelle, also zu uns, in Liebe zurück und dann können wir so aus unserer Einheit wieder ins All hinausschauen.
  </p><p>
    Die zart ausatmenden Bilder versprechende Malmethode spiegelt die Farbwelt der Natur und der Atmosphäre zurück. Wir können die Farben in ihrer eigenen Erscheinung und gleichzeitig in Gesellschaft mit den anderen Farben aufglänzen sehen:
  </p><p>
    Das ankommende Licht sickert durch die durchscheinenden Lasurschichten und dann - sich zurückspiegelnd - lässt es die Farben auf dem weissen Papier aufschimmern. So wird das Aquarell luftig und zart scheinend. 
  </p><p>
    ...Denn das Bild besteht aus nichts Anderem, als aus dem Dreiklang des Papiers, Wassers und der Pigmente, die durch die schöpferischen Energien zusammengefügt werden.
  </p><p>
    Der größte Teil unseres Körpers besteht aus Wasser. So sind wir mit der uns umgebenden Welt, Natur und Atmosphäre auf einer höheren Ebene verbunden. Deshalb werden wir durch das Betrachten des Aquarells entspannt hochschwingend. Deshalb ist es gut in der Nähe von solchen Bildern zu sein. Deshalb lohnt es sich immer wieder in ihre Welt unterzutauchen. Die Farbwirkung auf dem Papier verändert sich durch die ständig sich verändernden Lichtverhältnisse je nach Tages- bzw. Jahreszeit: So wird unsere Seele immer wieder beschenkt. Meine Bilder werden auf kalt gepressten, aus 100% Baumwolle bestehenden Papier, mit weichem Wasser, mit den edelsten Künstlerfarben in ruhiger Naturumgebung bei natürlicher Beleuchtung gemalt.
  </p>
</div>
